In [8]:
my_ls = list(range(1,11))
print(my_ls)
for n in my_ls:
    print(5*n)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
5
10
15
20
25
30
35
40
45
50

In [9]:
my_ls = list(range(1,11))
a = set(range(0,10))
print(a)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [12]:
my_ls = list(range(1, 11))
a = set(range(0,10))

kids = list(range(3, 13))
teens = list(range(13, 18))

#age = int(input('please enter your age: '))

my_tup = tuple(range(11))
print(my_tup)

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [15]:
print(range(5))
print(*range(5))
print(*range(5,25,2))
print(range(5,25,2))

range(0, 5)
0 1 2 3 4
5 7 9 11 13 15 17 19 21 23
range(5, 25, 2)

In [18]:
print(*('seperate'))
print('seperate')

s e p e r a t e
seperate

In [23]:
print(range(10,0,-2))
print(*range(10, 15, -2))

range(10, 0, -2)

In [30]:
print(*range(10, -10, -2))

10 8 6 4 2 0 -2 -4 -6 -8

In [31]:
print(*range(0, -10, -2))

0 -2 -4 -6 -8

In [32]:
text = ['one', 'two', 'three', 'four', 'five']
numbers = [1, 2, 3, 4, 5]
for x, y in zip(text, numbers):
    print(x,':',y)

one : 1
two : 2
three : 3
four : 4
five : 5

In [41]:
cap = ['DC', 'Toronto', 'Istanbul', 'Delhi', 'Cairo']
cont = ['USA', 'Canada', 'Turkey', 'India', 'Egypt']
population = [230, 100, 130, 200, 5999]
for cap, cont, count in zip(cap, cont, population):
    print(f'the capital of {cont} is {cap} population is {count} million people')

the capital of USA is DC population is 230 million people
the capital of Canada is Toronto population is 100 million people
the capital of Turkey is Istanbul population is 130 million people
the capital of India is Delhi population is 200 million people
the capital of Egypt is Cairo population is 5999 million people

In [50]:
odds = []
even = []
    
for n in range(20):
    if n % 2 == 0:
        even.append(n)
    else:
        odds.append(n)
print(odds, even, sep='\n')

print(f'In that {range(20)} my odd numbers are "{odds}" and my even numbers are "{even}!')

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
In that range(0, 20) my odd numbers are "[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]" and my even numbers are "[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]!

In [52]:
numbers =(23, 11, 36, 66, 89, 21, 16, 10, 33, 67)

odds = 0
even = 0 

for n in numbers:
    if n % 2:
        odds += 1
    else:
        even += 1
print(f'even numbers = {even} and odd numbers = {odds}')

even numbers = 4 and odd numbers = 6

In [54]:
numbers =(23, 11, 36, 66, 89, 21, 16, 10, 33, 67)

odds = 0
even = 0 

for n in numbers:
    if n % 2 !=0:
        odds += 1
    else:
        even += 1
print(f'even numbers = {even} \nodd numbers = {odds}')

even numbers = 4
odd numbers = 6

In [59]:
numbers = (range(1, 10))
for n in numbers:
    print(str(n)*n)

1
22
333
4444
55555
666666
7777777
88888888
999999999

In [76]:
ttl = 0
for number in range(1, 75):
    ttl += number
    print(ttl)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775

In [73]:
ttl = 0
for n in range(75):
    ttl += n 
    print(ttl)

0
1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
210
231
253
276
300
325
351
378
406
435
465
496
528
561
595
630
666
703
741
780
820
861
903
946
990
1035
1081
1128
1176
1225
1275
1326
1378
1431
1485
1540
1596
1653
1711
1770
1830
1891
1953
2016
2080
2145
2211
2278
2346
2415
2485
2556
2628
2701
2775

In [87]:
person = ['I am ', 'You are ', 'He is ', 'She is ', 'They are ']
mood = ['happy ', 'confident ']
day = ['today ', 'every day ']
days = ['1', '2']
for p in person:
    for m in mood:
        for d in day:
            for ds in days:
                print(p+m+d+ds)

I am happy today 1
I am happy today 2
I am happy every day 1
I am happy every day 2
I am confident today 1
I am confident today 2
I am confident every day 1
I am confident every day 2
You are happy today 1
You are happy today 2
You are happy every day 1
You are happy every day 2
You are confident today 1
You are confident today 2
You are confident every day 1
You are confident every day 2
He is happy today 1
He is happy today 2
He is happy every day 1
He is happy every day 2
He is confident today 1
He is confident today 2
He is confident every day 1
He is confident every day 2
She is happy today 1
She is happy today 2
She is happy every day 1
She is happy every day 2
She is confident today 1
She is confident today 2
She is confident every day 1
She is confident every day 2
They are happy today 1
They are happy today 2
They are happy every day 1
They are happy every day 2
They are confident today 1
They are confident today 2
They are confident every day 1
They are confident every day 2